@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Example application of the Correspondence framework. For more information, please visit <a href="https://correspondencecloud.com">correspondencecloud.com</a></p>
