@model Multinotes.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Correspondence</h1>
    <p class="lead">Correspondence is a collaborative application framework. Share data among occasionally-connected mobile devices, and integrate with web applications.</p>
    <p><a href="@Url.Action("Index", "MessageBoard", new { id = "Correspondence" })" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var messageBoard in Model.RecentMessageBoards)
    {
        <div class="col-md-4">
            <h2>@messageBoard.Topic</h2>
            @foreach (var message in messageBoard.Messages)
            {
                <p>@message</p>
            }
            <p><a class="btn btn-default" href="@Url.Action("Index", "MessageBoard", new { id = messageBoard.Topic })">Learn more &raquo;</a></p>
        </div>
    }
</div>